/********************************************************************************
* Pure CSS Popup Window without JavaScript                                      *
* Inspired by CSS Source from:                                                  *
*    http://www.sevensignature.com/blog/code/pure-css-popup-without-javascript/ *
*********************************************************************************/
.ila_overlay 
{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}
.ila_overlay:target 
{
    visibility: visible;
    opacity: 1;
}

.ila_popup 
{
	margin: 50px auto;
	padding: 20px;
	background: #fff;
	border-radius: 5px;
	min-width: 30%;
	max-width: 50%;
	position: relative;
	transition: all 5s ease-in-out;
}
.ila_popup h2 
{
    margin-top: 0px;
    color: #333;
}
.ila_popup .ila_close 
{
    position: absolute;
    top: 5px;
    right: 5px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}
.ila_popup .ila_close:hover 
{
	color: #06D85F;
}
.ila_popup .ila_content 
{
	max-height: 30%;
	overflow: auto;
}
